body {
    font-family: sans-serif;
    background-color: rgb(19, 16, 14);
    font-size: 20px;
}

div {
    background-image: url(https://i.kym-cdn.com/photos/images/original/002/674/082/bfc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 80px;
    height: 1000px;
    opacity: 0.5;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    transition: 0.5s;
}

h1:hover{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 50px;
}

h2{
    text-align: center;
    color: rgba(255, 255, 255, 0.541);
    font-family: 'Courier New', Courier, monospace;
}

p{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
